---
title: Readme
description: This page was generated from the project's readme using the {{md}} helper
---

<!-- Header -->
<div class="bs-docs-section">
  <div class="page-header">
    <h1 id="{{title}}">{{title}}</h1>
  </div>
  <p class="lead">{{description}}</p>
</div>

{{md 'README.md'}}